<h1>Edit profile</h1>

<%= form_for @user do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.submit "Save" %>
<% end %>
