<div class="inline-editor" id="inline-editor" data-page="inline-editor">
  <div class="editor-metadata">
    <%= avatar_for(current_user, size: 40) %>
    <strong class="editor-username"><%= current_user.username %></strong>
  </div>
  <%= form_for @dashboard.new_post, url: post_create_and_edit_path, html: { multipart: true, class: "editor-form", autocomplete: "off" } do |f| %>
    <div class="form-group">
      <%= f.text_area :body, class: 'medium-editable post-body', id: 'editor-body' %> 
    </div>
    <%= f.submit "Go full screen", class: 'button green-inner-button go-full-screen' %>
    <button class='button green-border-button cancel-button' data-behavior="editor-cancel">Cancel</button>
  <% end %>
</div>
