<div class="response-panel">
  <div class="post-metadata">
    <%= avatar_for response.user, size: 40 %>
    <div class="post-info">
      <%= link_to response.username, response.user %><br/>
      <small><%= time_ago_in_words(response.created_at) %> ago</small>
    </div>
  </div>

  <div class="main-body">
    <p class="response-body"><%= remove_javascript(response.body).html_safe %></p>
  </div>

  <div class="response-stats clearfix">
    <div id="response_<%= response.id %>_likes" class="pull-left">
      <%= render partial: 'responses/likes', locals: { response: response } %>
    </div>

    <div id="response_<%= response.id %>_bookmarks" class="pull-right">
      <%= render partial: 'responses/bookmarks', locals: { response: response } %>
    </div>
  </div>
</div>
