<div class="response-panel">
  <div class="post-metadata">
    <%= avatar_for response.user, size: 40 %>
    <div class="post-info">
      <%= link_to response.username, response.user %><br/>
      <small><%= time_ago_in_words(response.created_at) %> ago</small>
    </div>
  </div>

  <div class="main-body">
    <p class="response-body">
      <%= response.plain.to_s.html_safe %>
      <%= link_to "Read More", response %>
    </p>
  </div>

  <div class="response-stats clearfix">
    <div id="response_<%= response.id %>_likes" class="float-left">
      <%= render partial: 'responses/likes', locals: { response: response } %>
    </div>

    <div id="response_<%= response.id %>_bookmarks" class="float-right">
      <%= render partial: 'responses/bookmarks', locals: { response: response } %>
    </div>
  </div>
</div>
