<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="signin-wrapper">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
        <div class="form-input-wrapper">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: 'off', onfocus: "this.value = this.value;" %>
        </div>

        <div class="form-input-wrapper">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
        </div>

        <%= f.submit "Log in", class: "button green-inner-button" %>

        <% if devise_mapping.rememberable? -%>
          <div class="field remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <%= link_to "Sign up", new_user_registration_path, class: 'button green-border-button pull-right' %>

      <% end %>
    </div>
  </div>
</div>
