<div class="col-md-6 col-md-offset-1 dashboard-main-content">

  <% unless @dashboard.top_stories? %>
    <div class="posts-wrapper" data-behavior="endless-scroll">
      <%= render @dashboard.posts %>
    </div>
  <% else %>
    <div class="posts-wrapper">
      <%= render 'posts/top_stories', posts: @dashboard.posts %>
    </div>
  <% end %>

  <% unless @dashboard.top_stories? %>
    <%= will_paginate @dashboard.posts %>
  <% end %>

</div>

<% content_for :sidebar do %>
  <aside class="col-md-4 main-sidebar">
    <h4 class="small-heading with-border">Featured tags</h4>
    <div class="tags-wrapper">
      <%= render @dashboard.featured_tags %>
    </div>

    <% if user_signed_in? %>
    <h4 class="small-heading with-border">Tags you follow</h4>
    <%= react_component('FollowingTagList', { followingTags: current_user.following_tags }) %>
    <% end %>

    <% unless @dashboard.filtered? %>
      <h4 class="small-heading with-border">Top stories</h4>
      <div class="sidebar-top-stories">
        <ul>
          <% @dashboard.top_stories.each_with_index do |post, index| %>
            <li class="top-stories-list-item">
              <div class="count-button-wrapper">
                <span class="count-button"><%= index + 1 %></span>
              </div>
              <div class="top-stories-links">
                <%= link_to post.title, post, class: 'post-title' %><br/>
                <small><%= link_to post.username, post.user, class: 'post-username' %></small>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </aside>
<% end %>

