<%= form_for post, html: { multipart: true, class: "editor-form", autocomplete: "off" } do |f| %>
  <div class="form-group">
    <%= f.text_field :title, class: 'editor-title', placeholder: 'Title', autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.text_area :body, class: 'medium-editable' %> 
  </div>

  <label class="picture_upload">
    <%= f.file_field :picture %>
    <span class="icon-camera"></span>
  </label>

  <div class="hidden">
    <%= f.text_field :all_tags %>
  </div>

  <div class="clearfix">
    <div id="js-taggle" style="position: relative;"></div>
  </div>

  <%= f.submit "Publish", class: "button green-inner-button" %>
<% end %>

<script>
var editor = new MediumEditor('.medium-editable', {
  placeholder: {
    text: "Tell your Story ..."
  }
});

var my_taggle = new Taggle('js-taggle', {
  duplicateTagClass: 'bounce'
});

$('input[type="submit"]').hover(function() {
  $('#post_all_tags').val(my_taggle.getTagValues());
});
</script>
