<%= form_for post, html: { multipart: true, class: "editor-form", data: { page: 'main-editor' }, autocomplete: "off" } do |f| %>

  <label class="picture_upload">
    <%= f.file_field :picture %>
    <i class="fa fa-camera"></i>
  </label>
  <div class="file-upload-previewer hidden">
    <img src="" id="image_preview"/>
  </div>
  <% if post.picture.attached? %>
    <div class="existing-img-previewer" id="existing-img-previewer">
      <%= image_tag @post.picture.variant(resize: "800x600") %>
    </div>
  <% end %>

  <!--<div class="form-group">
    <% f.text_field :title, class: 'editor-title', placeholder: 'Title', autofocus: true, data: { behavior: "autosave" }, onfocus: "this.value = this.value;" %>
  </div>-->

  <% f.hidden_field :parent_id if @parent_post %>

  <div class="form-group">
    <%= react_component('NewEditor', content: @post.body ) %>
    <% f.text_area :body, class: 'medium-editable', data: { behavior: "autosave" } %> 
  </div>

  <div class="hidden">
    <%= f.text_field :all_tags %>
  </div>

<% end %>
