<div class="post-panel">
  <%= render partial: 'posts/post_metadata', locals: { post: post } %>

  <div class="main-body">
    <h3 class="post-title"><%= link_to post.title, post %></h3>
    <div class="post-body"><%= post.body %></div>
  </div>

  <div id="post_<%= post.id %>_likes">
    <%= render partial: 'posts/likes', locals: { post: post } %>
  </div>
</div>
