<div class="post-panel">
  <%= render partial: 'posts/post_metadata', locals: { post: post } %>

  <div class="main-body">
    <h3 class="post-title"><%= link_to post.title, post %></h3>
    <div class="post-body"><%= post.body %></div>
  </div>

  <div class="post-stats clearfix">
    <div id="post_<%= post.id %>_likes" class="pull-left">
      <%= render partial: 'posts/likes', locals: { post: post } %>
    </div>

    <div id="post_<%= post.id %>_bookmarks" class="pull-right">
      <%= render partial: 'posts/bookmarks', locals: { post: post } %>
    </div>

    <div class="response-count pull-right">
      <% if post.responses.any? %>
        <%= link_to_responses_to(post) %>
      <% end %>
    </div>
  </div>
</div>
