<div class="post-panel">
  <% if user_signed_in? %>
    <%= render partial: 'posts/feed_metadata', locals: { post: PostDecorator.new(post, current_user) } %>
  <% end %>

  <%= render partial: 'posts/post_metadata', locals: { post: post } %>

  <% if post.picture.attached? %>
    <div class="post-picture-wrapper">
      <%= image_tag post.picture.variant(resize: "800x600") %>
    </div>
  <% end %>

  <div class="main-body">
    <h3 class="post-title"><%= link_to post.title, post %></h3>
    <% if post.plain %>
      <div class="post-body">
        <%= truncate(post.plain || "", length: 150, separator: ' ', escape: false) %>
        
      </div>
      <%= link_to "Read more", post, class: 'read-more' %>
    <% end %>
  </div>

  <div class="post-stats clearfix">
    <div class="float-left">
      <%= render partial: 'posts/likes', locals: { post: post } %>
    </div>

    <div class="float-right">
      <%= render partial: 'posts/bookmarks', locals: { post: post } %>
    </div>

    <div class="response-count float-right">
      <% if post.responses_count > 0 %>
        <%= link_to (pluralize(post.responses_count, "response")), post_path(post, anchor: 'responses'), class: 'response-count' %>
      <% end %>
    </div>
  </div>
</div>
