<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 main-content">
    <% if admin_signed_in? %>
      <%= feature_post_button_for(@post) %>
    <% end %>

    <%= render 'post_metadata', post: @post %>

    <% if @post.picture? %>
      <div class="post-picture-wrapper">
        <%= image_tag @post.picture.url(:thumb) %>
      </div>
    <% end %>

    <h3 class="title"><%= @post.title %></h3>
    <div class="body">
      <p><%= @post.body.html_safe %></p>
    </div>

    <div class="post-tags">
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: 'tag' %>
      <% end %>
    </div>

    <div class="post-stats clearfix">
      <div id="post_<%= @post.id %>_likes" class="pull-left">
        <%= render partial: 'posts/likes', locals: { post: @post } %>
      </div>

      <div id="post_<%= @post.id %>_bookmarks" class="pull-right">
        <%= render partial: 'posts/bookmarks', locals: { post: @post } %>
      </div>
    </div>

    <div class="author-info">
      <div clas="author-metadata">
        <%= avatar_for @post.user, size: 50 %>
        <div class="username-description">
          <h4><%= @post.user.username %></h4>
          <p><%= @post.user.description %></p>
        </div>
      </div>
      <%= follow_button_for @post.user %>
    </div>


    <% if user_signed_in? && current_user?(@post.user) %>
      <div class="edit-delete-button-wrapper">
        <%= link_to "Edit", edit_post_path(@post), class: 'button' %>
        <%= link_to "Delete", post_path(@post), method: :delete, class: 'button' %>
      </div>
    <% end %>

  </div>

</div> 
<div class="post-show-footer row">
  <div id="responses" class="col-xs-10 col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1 col-xs-offset-1 main-content">
    <%= form_for [@post, @response] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "Write a response ..." %>
        <%= f.submit "Publish", class: 'button green-inner-button' %>
      </div>
    <% end %>

    <% if @post.responses.any? %>
      <div>
        <%= render @post.responses %>
      </div>
    <% end %>
  </div>
</div>
<div class="post-metadata-bar">
  <div class="flex-container" data-behavior="animated-metadata">
    <div class="post-stats flex-container">
      <%# TODO: Refactor OverlayTrggerButton so that we don't have to disable Overlay here,
        we can simply call render partial: 'post/likes' %>
      <div id="post_<%= @post.id %>_likes">
        <div class="like-button-wrapper">
          <% if user_signed_in? %>
            <%= react_component('LikeButton',
                                { liked: current_user.liked?(@post),
                                  likeCount: @post.likes.size,
                                  likeEndpoint: api_post_likes_path(@post),
                                  unlikeEndpoint: api_post_likes_path(@post),
                                  likeableType: 'Post',
                                  likeableId: @post.id,
                                  disableOverlay: true }) %>
          <% else %>
            <%= button_to '', method: :get, class: 'like-button', data: { behavior: 'trigger-overlay' } do %>
              <span class="icon-heart-o"></span><span class="hide-text">Like</span>
            <% end %>
            <% if @post.likes.size > 0 %>
              <span class="like-count"><%= @post.likes.size %></span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div>
        <%= link_to post_path(@post, anchor: 'responses'), class: "response-icon-wrapper" do %>
          <span class="icon-comment-o"></span>
          <span class="response-count"><%= @post.responses.size %></span>
        <% end %>
      </div>

      <div id="post_<%= @post.id %>_bookmarks" class="bookmark-button">
        <%= render partial: 'posts/bookmarks', locals: { post: @post } %>
      </div>
    </div>
    <div class="metabar-author-info flex-container flex-space-btw">
      <div>
        <%= avatar_for @post.user, size: 35 %>
        <%= react_component("PopoverLink", { user_id: @post.user.id, url: user_path(@post.user), children: @post.username }) %>
      </div>
      <%= follow_button_for @post.user %>
    </div>
  </div>
</div>

