<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'post_metadata', locals: { post: @post } %>

    <h3 class="title"><%= @post.title %></h3>
    <p class="body"><%= @post.body %></p>

    <div id="post_<%= @post.id %>_likes">
      <%= render partial: 'posts/likes', locals: { post: @post } %>
    </div>

    <%= render partial: 'posts/bookmarks', locals: { post: @post } %>

    <div class="post-tags">
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: 'tag' %>
      <% end %>
    </div>

    <% if user_signed_in? && current_user?(@post.user) %>
      <div class="edit-delete-button-wrapper">
        <%= link_to "Edit", edit_post_path(@post), class: 'button' %>
        <%= link_to "Delete", post_path(@post), method: :delete, class: 'button' %>
      </div>
    <% end %>

    <%= form_for [@post, @response] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "Write a response ..." %>
        <%= f.submit "Publish", class: 'button green-inner-button' %>
      </div>
    <% end %>

    <% if @post.responses.any? %>
      <%= render @post.responses %>
    <% end %>
  </div>
</div> 
  
