<div class="row">
  <div class="col-md-6 col-md-offset-3 main-content">
    <% if admin_signed_in? %>
      <%= feature_post_button_for(@post) %>
    <% end %>

    <%= render 'post_metadata', post: @post %>

    <% if @post.picture? %>
      <div class="post-picture-wrapper">
        <%= image_tag @post.picture.url(:thumb) %>
      </div>
    <% end %>

    <h3 class="title"><%= @post.title %></h3>
    <div class="body">
      <p><%= markdown(@post.body) %></p>
    </div>

    <div class="post-tags">
      <% @post.tags.each do |tag| %>
        <%= link_to tag.name, tag, class: 'tag' %>
      <% end %>
    </div>

    <div class="post-stats clearfix">
      <div id="post_<%= @post.id %>_likes" class="pull-left">
        <%= render partial: 'posts/likes', locals: { post: @post } %>
      </div>

      <div id="post_<%= @post.id %>_bookmarks" class="pull-right">
        <%= render partial: 'posts/bookmarks', locals: { post: @post } %>
      </div>
    </div>

    <div class="author-info">
      <div clas="author-metadata">
        <%= avatar_for @post.user, size: 50 %>
        <div class="username-description">
          <h4><%= @post.user.username %></h4>
          <p><%= @post.user.description %></p>
        </div>
      </div>
      <%= follow_button_for @post.user %>
    </div>


    <% if user_signed_in? && current_user?(@post.user) %>
      <div class="edit-delete-button-wrapper">
        <%= link_to "Edit", edit_post_path(@post), class: 'button' %>
        <%= link_to "Delete", post_path(@post), method: :delete, class: 'button' %>
      </div>
    <% end %>

    <%= form_for [@post, @response] do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "Write a response ..." %>
        <%= f.submit "Publish", class: 'button green-inner-button' %>
      </div>
    <% end %>

    <% if @post.responses.any? %>
      <div id="responses">
        <%= render @post.responses %>
      </div>
    <% end %>
  </div>
</div> 
  
