<li class="account">
  <a class="avatar-wrapper dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <%= avatar_for(current_user, size: 40) %>
  </a>
  <ul class="dropdown-menu nav-dropdown">
    <span class="dropdown-arrow-top"></span>
    <span class="dropdown-arrow-bottom"></span>
    <li class="nd-main"><%= link_to "New story", new_post_path %></li>
    <li class="nd-main"><%= link_to "Drafts and stories", stories_drafts_path %></li>
    <li role="separator" class="divider"></li>
    <li class="nd-sub"><%= link_to "Profile", current_user %></li>
    <li class="nd-sub"><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  </ul>
</li>

