<li class="account dropdown">
  <a class="avatar-wrapper dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <%= avatar_for(current_user, size: 40) %>
  </a>
  <div class="dropdown-menu nav-dropdown dropdown-menu-right">
    <span class="dropdown-arrow-top"></span>
    <span class="dropdown-arrow-bottom"></span>
    <%= link_to "New story", new_post_path, class: "dropdown-item" %>
    <%= link_to "Drafts and stories", stories_drafts_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to "Profile", current_user , class: "dropdown-item"%>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete , class: "dropdown-item" %>
  </div>
</li>

