<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Stories", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <ul class="nav navbar-nav filter-links">
      <li>
        <% if user_signed_in? %>
          <%= nav_link_to "Home", root_path %>
        <% else %>
          <%= nav_link_to "Staff pick", root_path %>
        <% end %>
      </li>
      <li><%= nav_link_to "Top stories", top_stories_path %></li>
      <li><%= nav_link_to "Bookmarks", dashboard_bookmarks_path %></li>
    </ul>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="main-searchbar" id="main-searchbar" ng-controller="AutocompleteCtrl">
          <%= form_for :search, url: search_path, method: :get do |f| %>
            <%= button_tag do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
            <%= f.search_field :q, value: params[:q], placeholder: 'Search Stories', autocomplete: 'off', "ng-model": "searchTerm" %>
          <% end %>
          <ul ng-show="searchTerm.length" class="dropdown-menu" id="autocomplete-items" ng-cloak>
            <li><a href="/search?q={{searchTerm}}"><span class="glyphicon glyphicon-search"></span> Search for <strong>{{ searchTerm }}</strong></a></li>
            <li ng-show="posts.length"><h4 class="autocomplete-heading">Posts</h4></li>
            <li ng-repeat="post in posts">
              <a ng-href="{{ post.url }}"><img width="35" class="avatar-image" ng-src="{{ post.avatar_url }}" />{{ post.title }}</a>
            </li>
            <li ng-show="users.length"><h4 class="autocomplete-heading">People</h4></li>
            <li ng-repeat="user in users">
              <a ng-href="{{ user.url }}"><img width="35" class="avatar-image" ng-src="{{ user.avatar_url }}" />{{ user.username }}</a>
            </li>
          </ul>
        </li>
        <li class="new-post-button"><%= link_to "Write a story", new_post_path, class: "button" %></li>
        <% if user_signed_in? %>
          <li id="notifications">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="icon-bell-o notification-bell" id="bell"></span></a>
            <ul class="dropdown-menu" id="notification-items">
            </ul>
          </li>
          <li>
            <a href="#" class="avatar-wrapper dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <%= avatar_for(current_user, size: 40) %></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div> 
  </div>
</nav>
