<div data-behavior="overlay" class="overlay overlay-hugeinc">
  <button data-behavior="close-overlay" type="button" class="overlay-close">
    <span class="far fa-window-close"></span>
  </button>
  <nav>
    <h2 class="grayed-heading center">Sign in or create an account</h2>
    <ul class="omniauth-button-group">
      <li class="omniauth-button">
        <%= link_to user_facebook_omniauth_authorize_path, class: 'button facebook' do %>
          <%= icon('fab', 'facebook') %>Sign in with Facebook
        <% end %>
      </li>

      <li class="omniauth-button google">
        <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'button google' do %>
          <%= icon('fab', 'google') %>Sign in with Google
        <% end %>
      </li>

      <li class="omniauth-button twitter">
        <%= link_to user_twitter_omniauth_authorize_path, class: 'button twitter' do %>
          <%= icon('fab', 'twitter') %>Sign in with Twitter
        <% end %>
      </li>

      <li>
        <%= link_to "Sign in or Sign up with email", new_user_session_path, class: "signin-signup-link" %>
      </li>
    </ul>
  </nav>
</div>
