<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Stories", root_path, class: "navbar-brand", id: "logo" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="new-post-button"><%= link_to "Write a story", new_post_path, class: "button" %></li>
        <% if user_signed_in? %>
          <%= render 'layouts/notifications' %>
          <%= render 'layouts/avatar_dropdown' %>
        <% else %>
          <li><%= link_to "Sign in / Sign up", new_user_session_path, class: 'button green-border-button sign-in-button' %></li>
        <% end %>
      </ul>
    </div> 
  </div>
</nav>

