<nav class="navbar navbar-default">
  <div class="container-fluid col-md-10 col-md-offset-1">
    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand", id: "logo" do %>
        <%= image_tag('stories-logo.svg', height: 40, alt: "Stories") %>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="new-post-button"><%= link_to "Write a story", new_post_path, class: "button" %></li>
          <li id="notifications">
            <%= react_component('NotificationsContainer', {}) %>
          </li>
          <%= render 'layouts/avatar_dropdown' %>
        <% else %>
          <li class="new-post-button"><%= link_to "Write a story", new_post_path, class: "button", data: { behavior: 'trigger-overlay' } %></li>
          <li class="sign-in-button"><%= link_to "Sign in / Sign up", new_user_session_path, class: 'button green-border-button', data: { behavior: 'trigger-overlay' } %></li>
        <% end %>
      </ul>
    </div> 
  </div>
</nav>

