<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Stories</h1>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><%= current_user.username %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
        <li><%= link_to "New Post", new_post_path %></li>
      </ul>
    </nav>
  </header>

  <% if notice %>
    <p><%= notice %></p>
  <% end %>

  <% if alert %>
    <p><%= alert %></p>
  <% end %>
<%= yield %>

</body>
</html>
